.fw-400{
    font-weight: 400 !important;
}

.card-title {
    margin-bottom: 10px;
    padding: 5px;
}
.task-list{
    --bs-list-group-item-padding-y: unset;
}

.task-list-item{
    background-color: #929292;
    border-bottom: 1px solid #ffff;
    height: 60px;
    line-height: 60px;
}

.task-list-item:last-child{
    border-bottom: inherit;
}

.trashed{
    line-height: 60px;
}

.h-50px{
    height: 50px;
}
.footer-text{
    line-height: 50px;
}

/*@media screen and (max-width: 320px){*/
/*    .col-8,.col-6, .col-4,.col-3{*/
/*        width: 100%;*/
/*        margin-top: 10px;*/
/*    }*/
/*    .btn-add-task-list{*/
/*        margin-top: 10px;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 390px) {*/
/*    */
/*}*/
.gizle{
    display: none;
}